Adafruit_Blinka-8.20.0-py3-none-any.whl
adafruit_circuitpython_busdevice-5.2.6-py3-none-any.whl
adafruit_circuitpython_mlx90640-1.2.16-py3-none-any.whl
adafruit_circuitpython_register-1.9.16-py3-none-any.whl
adafruit_circuitpython_requests-2.0.0-py3-none-any.whl
adafruit_circuitpython_typing-1.9.4-py3-none-any.whl
Adafruit_PlatformDetect-3.47.0-py3-none-any.whl
Adafruit_PureIO-1.1.11-py3-none-any.whl
configparser-6.0.0-py3-none-any.whl
contourpy-1.1.0-cp39-cp39-manylinux_2_17_aarch64.manylinux2014_aarch64.whl
cycler-0.11.0-py3-none-any.whl
fonttools-4.40.0-cp39-cp39-manylinux_2_17_aarch64.manylinux2014_aarch64.whl
importlib_resources-6.0.0-py3-none-any.whl
kiwisolver-1.4.4-cp39-cp39-manylinux_2_17_aarch64.manylinux2014_aarch64.whl
matplotlib-3.7.2-cp39-cp39-manylinux_2_17_aarch64.manylinux2014_aarch64.whl
numpy-1.25.1-cp39-cp39-manylinux_2_17_aarch64.manylinux2014_aarch64.whl
packaging-23.1-py3-none-any.whl
Pillow-10.0.0-cp39-cp39-manylinux_2_28_aarch64.whl
pyftdi-0.54.0-py3-none-any.whl
pyparsing-3.0.9-py3-none-any.whl
pyserial-3.5-py2.py3-none-any.whl
PySimpleGUI-4.60.5-py3-none-any.whl
python_dateutil-2.8.2-py2.py3-none-any.whl
pyusb-1.2.1-py3-none-any.whl
RPi.GPIO-0.7.1.tar.gz
rpi_ws281x-5.0.0.tar.gz
six-1.16.0-py2.py3-none-any.whl
sysv_ipc-1.1.0.tar.gz
typing_extensions-4.7.1-py3-none-any.whl
zipp-3.16.0-py3-none-any.whl
