Adafruit-Blinka==8.20.0
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-mlx90640==1.2.16
adafruit-circuitpython-register==1.9.16
adafruit-circuitpython-requests==2.0.0
adafruit-circuitpython-typing==1.9.4
Adafruit-PlatformDetect==3.47.0
Adafruit-PureIO==1.1.11
configparser==6.0.0
contourpy==1.1.0
cycler==0.11.0
fonttools==4.40.0
importlib-resources==6.0.0
kiwisolver==1.4.4
matplotlib==3.7.2
numpy==1.25.1
packaging==23.1
Pillow==10.0.0
pyftdi==0.54.0
pyparsing==3.0.9
pyserial==3.5
PySimpleGUI==4.60.5
python-dateutil==2.8.2
pyusb==1.2.1
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
six==1.16.0
sysv-ipc==1.1.0
typing-extensions==4.7.1
zipp==3.16.0
